# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
.env
.pytest_cache/

# Артефакты сборки
micropki.egg-info/
dist/
build/
.coverage
htmlcov/

# PKI Артефакты
pki/
*.pem
*.key
*.cert

# Конфиденциальные данные и логи
secrets/
logs/
*.log

# IDE
.idea/
.vscode/
